{% extends '@EasyAdmin/layout.html.twig' %}


{% block content %}
    
    <div class="juùbotron">
        <h1 class="display-4">Administration</h1>
        <p class="lead">Bienvenue sur l'interface d'administration de Cookie Nation</p>
    </div>

{% endblock %}